// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cloud {

}
div[class*='job-desc'] {
  max-width: 800px;
  max-height: 600px;
  min-width:400px;
  min-height: 300px;
}

.job-title {

}