<h2><%= @current_user.name.titlecase %>'s Resume
<% if @current_user.resume %>
<%= link_to '', users_edit_path, class: 'icon-pad btn btn-info btn-xs glyphicon glyphicon-pencil' %></p>
<% else %>
  <%= link_to '', users_edit_path, class: 'icon-pad btn btn-success btn-xs glyphicon glyphicon-plus' %>
<% end %>
</h2>
<div class="row">
<div class="col-md-6 col-lg-6">
<!-- <h4>Resume</h4> -->
<p class="text-muted">Your resume is used to generate a match score with the jobs you select, so be sure it's up to date!
<% if @current_user.resume %>
  <%= @current_user.resume %>
    <% end %>
</div>
<div class=" col-md-6 col-lg-6">
  <div class="resume my-cloud">

  </div>
</div>
</div>


