<h1>My Resume</h1>
<div class="row">
<div class="col-md-12 col-lg-12">
<!-- <h4>Resume</h4> -->
<p class="text-muted">Add your resume to compare your experience with available jobs.<%= link_to '', users_edit_path, class: 'icon-pad btn btn-info btn-xs glyphicon glyphicon-pencil' %></p>
<% if @current_user.resume %>
  <%= @current_user.resume %>
<% end %>
</div>
<!-- <div class="col-md-6 col-lg-6">
</div> -->


</div>