
body {
  /*font-family: 'Questrial', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Tenor Sans', sans-serif;  /*color:#fff;*/
  background-color: #D0EEFF;
  /*background-image: image-url("textures-4-1169853");*/
}
.navbar-default {
    background-color: rgba(19,171,88,.2);
    border-color: #e7e7e7;
}
body div.jqcloud {
  margin: 0 auto 2em;
  font-family: 'Questrial', sans-serif;
}
div.my-cloud,
.well {
  background-color: rgba(255,255,255,.6);
  /*border-radius: 50%;*/
  /*box-shadow: 0 0 10px 5px rgba(255,255,255,.7);*/
  border: 3px solid rgba(19, 171, 88, 0.2);
  /*margin-bottom: 2em;*/
  /*padding-left: .5em;*/
}



.my-cloud .match-button {
  /*margin: 20px;*/
  /*font-family: initial;*/
  z-index: 1000;
  position: absolute;
  right: 10px;
  font-family: 'Questrial', sans-serif;
  background-color: #127794;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px #777;
  -moz-box-shadow: 0px 0px 2px #777;
  -webkit-box-shadow: 0px 0px 2px #777;
}
.my-cloud .match-button:hover {
  cursor: initial;
}
.my-cloud .icon-pad {
  padding: 5px;
}
.glyphicon-trash {
  float: right;
  /*opacity: .9;*/
}

.btn-info .badge.match-badge {
  color: #0E5D73;
}

/*most common to least common words*/
.container div.jqcloud span.w10,
.container div.jqcloud span.w9,
.container div.jqcloud span.w8 {
  color: #901158;
}
.container div.jqcloud span.w7,
.container div.jqcloud span.w6 {
  color: #570A35;
}
.container div.jqcloud span.w5,
.container div.jqcloud span.w4,
.container div.jqcloud span.w3 {
  color: #13B25C;
}
.container div.jqcloud span.w2,
.container div.jqcloud span.w1 {
  color: #0D783E;
}

.login-status {
  /*color: #777;*/
}

.login-status {
  padding: 1em;
}
.form-inline .form-group {
  margin: 1em;
}
.form-group label {
  padding-right: 1em;
  padding-left: 1em;
}

.icon-pad {
  margin-left: 1em;
}
.icon-pad-flat {
  margin: 0 .5em;
}
.btn-success.icon-pad-flat:hover {
      color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    cursor: initial;
}

div[class*='job-desc'],
.resume {
  max-width: 600px;
  max-height: 500px;
  min-width:400px;
  min-height: 300px;
}

.resume {
  min-height: 400px;
  min-width: 300px;
}
.bar {
  color: #222;
}

.search-form {
  text-align: center;
}

.instructions {
  margin: 1em 0 1.5em;
  font-size: 1.2em;
  color: #0A4657;
}