body {
  font-family: 'Raleway', sans-serif;
  background: image-url("abstract-city-5-1619961-1599x2087_1000w.png") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: #A82613;
}
a:hover,
a:focus {
  color: #BD2B15;
}
a.log {
  padding-left: 1em;
}
.alert {
  opacity: .7;
}
.job-title {
  font-size: 1.2em;
  color: #0B4A5C;
}
.control-label {
  color: #0B4A5C;
  font-size: 1.2em;
}
.title {
  font-size: 5em;
  font-family: 'Comfortaa', cursive;
  border-bottom: 1px solid rgba(19, 171, 88, 0.2);
  width: 80%;
  padding-bottom: .1em;
  margin: .5em auto 0;
  color: #0B4A5C;
}
.container {
  padding-top: 1em;
}
.main,
.job-board,
.resume-page {
  padding: 1.5em;
  background-color: rgba(#fff,.8);
  box-shadow: 0px 0px 1px 0px #999;
  -webkit-box-shadow: 0px 0px 1px 0px #999;
  -moz-box-shadow: 0px 0px 1px 0px #999;
  border: 1px solid rgba(19, 171, 88, 0.2)
}
.edit-resume {
  min-height: 300px;
}
.navbar-default {
    background-color: rgba(#fff,.8);
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #0B4A5C;
  font-family: 'Comfortaa', cursive;
}
.navbar-default .navbar-nav>li>a.active {
  color: #0B4A5C;
  background-color: rgba(222, 222, 222, .8);
}
.indeed-attr {
  position: fixed;
  bottom: 5px;
  left: 10px
}
.modal-pad {
  padding: 1em;
}
body div.jqcloud {
  margin: 1em auto 2em;
  font-family: 'Questrial', sans-serif;
}
div[class*='job-desc'],
.resume {
  max-width: 600px;
  max-height: 500px;
  min-width:400px;
  min-height: 300px;
}
.login-btn {
  margin-bottom: 2em;
  background-color: #0A6132;
  border: 1px solid #084C27;
}
.login-btn:hover {
  background-color: #084C27;
  border: 1px solid #06331A;
}
footer {
  margin-top: 2em;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
h4 {
  line-height: 1.3em;
}
.resume {
  min-height: 400px;
  min-width: 300px;
}
.bar {
  color: #222;
}
div.my-cloud,
div[class*='job-desc']
 {
  background-color: rgba(255,255,255,1);
  border: 2px solid #cecece;
}

.well {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 70%;
  margin: 0 auto;
}
.my-cloud .match-label {
  color: #fff;
  z-index: 1000;
  position: absolute;
  right: 10px;
  font-family: 'Raleway', sans-serif;
  background-color: #0B4A5C;
  border: 4px solid #fff;
  box-shadow: 0px 0px 2px #777;
  -moz-box-shadow: 0px 0px 2px #777;
  -webkit-box-shadow: 0px 0px 2px #777;
  border-radius: 4px;
  padding: .3em .5em;
}
.my-cloud .icon-pad {
  padding: 5px;
}
.glyphicon-trash {
  float: right;
  /*opacity: .8;*/
  background-color: #555;
  border: 1px solid #000;
  vertical-align: top;
}
.glyphicon-trash:hover {
  border: 1px solid #000;
  background-color: #000;
}
.btn-success.glyphicon-plus {
  opacity: .9;
  vertical-align: top;
}

.match-label .badge.match-badge {
  color: #0B4A5C;
  background-color: #fff;
}
/*most common to least common words*/
.container div.jqcloud span.w10,
.container div.jqcloud span.w9,
.container div.jqcloud span.w8,
.container div.jqcloud span.w7 {
  color: #901158;
}
.container div.jqcloud span.w6,
.container div.jqcloud span.w5 {
  color: #0E8544;
}
.container div.jqcloud span.w4,
.container div.jqcloud span.w3 {
  color: #148AAB;
}
.container div.jqcloud span.w2 {
  color: #570A35;
}
.container div.jqcloud span.w1 {
  color: #0D783E;
}
.login-status {
  padding: 1em;
}
.form-inline {
  margin: 1em auto 0em;
}
.form-inline .form-group {
  margin: 1em;
}
.form-group label {
  padding-right: 1em;
  padding-left: 1em;
}
.icon-pad {
  margin-left: 1em;
}
.icon-pad-flat {
  margin: 0 .5em;
}
.btn-success.icon-pad-flat:hover {
      color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    cursor: initial;
}
.search-form {
  text-align: center;
}
.instructions {
  margin: 1em auto 1.5em;
  font-size: 1.2em;
  color: #0A4657;
  border-bottom: 1px solid rgba(19, 171, 88, 0.2);
  width: 80%;
  padding-bottom: 1em;
  text-align: center;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    div[class*='job-desc'],
    .resume {
      max-width: 300px;
      max-height: 600px;
      min-width:200px;
      min-height: 300px;
    }
.main, .job-board, .resume-page {
  padding: 0;
}
.mobile-pad {
  padding: 1em;
}
.icon-pad {
  margin: .5em;
}
.indeed-attr {
  position: relative;
  }
}